.parent {
    display: grid;
    padding: 1rem;
    width: 100dvw;
    height: auto;
    min-height: 100dvh;
}

.infoContainer {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
